html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: rgb(34, 34, 143);
}

* { border: 1px solid #a45abd; }

//#__nuxt {
//  height: 100%;
//  width: 100%;
//  background-color: #3f3f49;
//}

//#app {
//  height: 100%;
//  width: 100%;
//}